@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .heroButton {
    @apply text-xs tracking-widest text-gray-500 px-6 py-2 border border-[#242424] rounded-full uppercase transition-all hover:border-[#F7ABBA]/40 hover:text-[#f7ab0a]/40 m-4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
